* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #fff;
  margin: 50px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.nav-links {
  /* max-width: 450px;
  width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
}

.nav-link {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.header-buttons a {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-decoration: none;
}

.sign-in {
  color: #0b132a;
}

.a-button {
  border-radius: 50px;
  padding: 13px 45px;
  border: 1px solid #f53855;
  color: #f53855;
}

.hero {
  display: flex;
  background-color: #fff;
  margin-bottom: 103px;
}

.hero-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  gap: 40px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  font-family: Rubik;
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  text-align: left;
  color: #0b132a;
  margin: 20px 0;
}

.description {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #4f5665;
  margin-bottom: 50px;
}

.hero-content button {
  /* padding: 17px 77px; */
  width: 250px;
  height: 60px;
  border-radius: 10px;
  background: #f53838;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: #fff;
  border: none;
  border-radius: 10px;
  /* box-shadow: 19px 50px 19px rgba(245, 56, 56, 0.35); */
}

.services {
  padding-top: 103px;
}

.boxs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  border-right: 2px solid #eeeff2;
  padding: 0px 91px;
  margin: 37px 0;
}

.box img {
  border-radius: 70px;
  background-color: #ffecec;
  padding: 15px;
}

.box-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.box .title {
  font-family: Rubik;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #0b132a;
  margin-bottom: 5px;
}

.box p {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #4f5665;
}

.box-3 {
  border: none;
}

/* *********** ABOUT SECTION *********** */

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 170px;
  margin-top: 50px;
}

.about-texts {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.about-texts h1 {
  font-family: Rubik;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #0b132a;
}

.about-texts p {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #4f5665;
}

.checkmarks {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkmark {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkmark p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #4f5665;
}

.choose {
  background-color: #fbfbfbff;
}
